<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Currency Converter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
        <div class="jumbotron">
            <div>
                <h1>Currency Converter</h1>
                <label for="1">You send</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="0.00" name="first" id="first_form"
                        aria-label="0.00" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">GBP</span>
                    </div>
                </div>
                <label for="2">They recieve</label>
                <div class="input-group mb-3">

                    <input type="text" class="form-control" placeholder="0.00" name="second" id="second_form"
                        aria-label="0.00" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">PLN</span>
                    </div>
                </div>
                <div> 1 <b>GBP</b> = <i id="rate"> {{.Value}} </i> PLN </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./js/inputFieldChange.js"></script>
</body>